.main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mainCol {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:nth-child(1) {
      width: 40rem;
      min-width: 40rem;
      max-width: 40rem;
    }
  }
}
