.wrapper {
  --max-list-items: 10;
  --max-height: calc((var(--max-list-items) + 1) * (0.8rem + 8px) + 20px);

  display: flex;
  flex-direction: row;
  overflow: hidden;

  .aside {
    border-right: 2px solid #31314d;
    min-width: 10rem;
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      border-left: 2px solid #31314d;
    }
  }

  .container {
    padding: 6px 6px;
    box-sizing: border-box;
    max-height: var(--max-height);
    height: var(--max-height);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
      position: relative;
      background-color: #525288;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 600;
      padding: 0 4px;
      margin: 0 0 4px 0;
      user-select: none;

      &::before {
        --border-color: #6d6e99;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        border-left: 2px solid var(--border-color);
        border-top: 2px solid var(--border-color);
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      &::after {
        --border-color: #2c304c;
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-right: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }

    .list {
      overflow: auto;

      .item {
        display: flex;
        flex-direction: row;
        gap: 12px;
        font-size: 0.8rem;
        line-height: 0.8rem;
        height: calc(0.8rem + 8px);
        font-weight: bold;
        color: #00c600;
        padding: 4px 4px 2px;
        cursor: default;
        user-select: none;
        overflow: hidden;

        &:hover {
          background-color: #0000bd;
        }

        &.activeItem {
          background-color: #fff;
          color: black;
        }

        &.highlightItem {
          background-color: #0000bda8;
          color: yellow;
        }

        .number {
          min-width: 26px;
          text-align: right;
        }

        .itemContainer {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .groupButton {
      display: inline-block;
      text-align: left;
      width: 100%;

      gap: 12px;
      font-size: 0.8rem;
      line-height: 0.8rem;
      height: calc(0.8rem + 8px);
      font-weight: bold;
      color: #00c600;
      padding: 4px 4px 2px;
      cursor: default;
      user-select: none;
      overflow: hidden;
    }
  }

  .searchWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 0.7rem;
    line-height: 0.7rem;
    background-color: #31314d;
    padding: 4px 8px 2px 8px;

    .inner {
      display: inline-block;
      margin-top: 3px;
      color: rgba(255, 255, 255, 0.6);
    }

    &.focussed {
      .inner {
        color: rgba(255, 255, 255, 1);
      }
    }

    &:hover {
      .inner {
        color: rgba(255, 255, 255, 1);
      }
    }

    .input {
      width: 100%;
      padding: 2px 4px;
      background-color: black;
      color: rgba(255, 255, 255, 0.6);
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #525288;
      border-bottom: 2px solid #525288;
      border-radius: 2px;
      outline: none;
      font-size: 0.7rem;

      &:focus {
        color: white;
      }
    }

    .select {
      background-color: black;
      color: rgba(255, 255, 255, 0.6);
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #525288;
      border-bottom: 2px solid #525288;
      border-radius: 2px;
      outline: none;
      font-size: 0.7rem;
      padding: 1px 12px 1px 4px;
    }
  }
}
